
  <h3> 345235442 People Scheming. How about you?</h3>
  <div class="row-fluid">
    <div id="events" class="span 8">
      <% @events.each do |event| %>
        <div class="event-panel">

        </div>
      <% end %>
    </div>
    <div id="your-upcomming-schemes" class="span3 offset1">
      <ul id="user-schemes">
        <% if @current_user %>
          <% @current_user.schemes do |scheme| %>
            <li class="scheme">
              <div class="scheme-photo">

              </div>
              <div>
                
              </div>
            </li>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>


<script>
  $(document).ready(function(){
    start_masonry("events");
  });
</script>