
<h1>Scheme Event</h1>

<h3> 345235442 People Scheming. How about you?</h3>
  <div id="events">
    <% @events.each do |event| %>
      <div class="event-panel">

      </div>
    <% end %>
  </div>
  <div id="your-upcomming-schemes">
    
  </div>

<script>
  window.onLoad(function(){
    start_masonry("events");
  });
</script>
