<div id="bgcarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="active item" style="background-image: url(http://www.calstategames.org/images/Super%20Bowl.jpg)"></div>
  </div>
  <div class="mask"></div>
</div>


<div id="search-container">
  <div class="container" id="title" style="margin-left: 5%; margin-right: 5%">
    <h1 style="color: #fff; text-shadow: 4px 4px 7px rgba(0,0,0,.7);">Scheme Zone</h1>
  </div>
  <div class="container"  style="margin-left: 5%; margin-right: 5%; z-index: 9999">
      <div id="searchbox">
        <input id="search" type="text" placeholder="San Francisco">
        <input id="search2" type="text" placeholder="49ers">
        <input id="submit" type="submit" value="Scheme">
      </div>
  </div>
  <div class="container" style="margin-left: 5%; margin-right: 5%">
     <h4 style="margin-left: 100; padding-left: 0; color: #fff; text-shadow: 4px 4px 7px rgba(0,0,0,.7); margin-bottom: 140px;  "> 345235442 People Scheming. How about you?</h4>
  </div>  
</div>
<section class="strip">
  <div class="container">
          <div class="span12">
            <h4>Be the Amazing Fan<br> You Were <strong>Meant</strong> to be</h4>
          </div>
      </div>
</section>
  <div class="container" style="margin-left: 5%; margin-right: 5%">
    <div id="main-container">
      <div id="events-container" class="span12">
      </div>
        <div id="scheme-container" class="span12" style="margin-left: 0; padding-left: 0;">
          <h4>Upcoming Schemes</h4>
          <div id="index-schemes">
          </div>
        </div>
    </div>
  </div>
  <div class="modal clearfix" id="team-select">
  </div>

<script type="text/template"  id="search-results-template">
  <h4> Displaying [[= count ]] Results</h4>
  <div id="events">
  </div>
</script>

<script type="text/template" id="modal-popup">
  <h3 class="modal-header">Pick your Team</h3>
  <div class="modal-body">
    <a href="/events/[[= id ]]?team=[[= performers[0].name  ]]"><div id="team1">[[= performers[0].name ]]</div></a>
    <div class="versus-image"><img src="[[= images[0].url ]]" /></div>
    <a href="/events/[[= id ]]?team=[[= performers[1].name  ]]"><div id="team2">[[= performers[1].name ]]</div></a>
  </div>
</script>

<script type="text/template" id="search-result-template">
  <div class="event clearfix">
    <div class="pull-left search-image-wrapper">
      <img src="[[= images[0].url ]]"></img>
    </div>
    <div class="pull-left" style="padding: 0 10px;">
      <div>[[= name ]]</div>
      <div>[[= pretty_date(starttime) ]]</div>
    </div>
  </div>
</script>

<script>
  $(document).ready(function(){
    $('.carousel').carousel({interval: 5000, pause: "false" });
    var search_template = _.template($("#search-results-template").html());
    var team_select_template = _.template($("#modal-popup").html());
    var search_result_template = _.template($("#search-result-template").html());

    function changeDomOnSearch(events, next){
      $("#schema-container").remove();
      var matches = _.filter(events, function(event){
                      return event.performers.length == 2;
                  });
      $("#scheme-container").remove();
      $("#events-container").html("");
      $("#events-container").append(
        search_template({ count: matches.length })
      ).hide().fadeIn(2000).slideDown(500);
      $('html, body').animate({
          scrollTop: $("#events-container").offset().top
      }, 300);
      _.each(matches.sort(function(a,b){
         return (new Date(a.starttime)).getTime()-(new Date(b.starttime)).getTime();
      }), function(event){
        var ev = $( search_result_template(event));
        ev.click(function(){
          $.ajax({
              type: 'POST',
              url: '/events',
              data: {
                event: {
                  stubhub_eventId: event.id,
                  name : event.name,
                  image_url: event.images[0].url,
                  team_1: event.performers[0].name,
                  team_2: event.performers[1].name
                } 
              },
          });
          $("#team-select").html(team_select_template(event)).modal();
        });
        $("#events").append(ev);
      });
    }

    function bindings(){
      $("#submit").click(function(e){
        $(".everything").remove();
        search( $("#search2").val(), $("#search").val(), changeDomOnSearch );
        e.preventDefault();
        return false;
      });
    }
    $(".box").on("")
    bindings();
  });
</script>





