// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form {
	margin: 0 auto;
	width: 300px;
	text-align: center;
}
#search, #search2, #submit
{
	float: left;
}
.strip {
	width: auto;
	padding: 0px;
	text-align: center;
	color: #114455;
	background-color: #f5f5f5;
}
#bgcarousel {
	height: 400px;
	width: 100%;
	overflow: hidden;
	position: absolute;
	z-index: -1;
	.mask {
    position: absolute;
    top: 0px; left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none; /* to make clicks pass through */
	}
	.item {
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		text-align: center;
		width: 100%;
		height: 400px;
		background-size: 100% 400px;
		background-repeat: no-repeat;
	}
}
#search, #search2
{
	padding: 5px 9px;
	height: 23px;
	width: 140px;
	border: 1px solid #a4c3ca;
	font: normal 13px 'trebuchet MS', arial, helvetica;
	background: #f1f1f1;
	color: #000;
	
	-moz-border-radius: 50px 3px 3px 50px;
	 border-radius: 50px 3px 3px 50px;
	 -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	 -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);            
}
#search2 {
	margin-left: 10px;
	-moz-border-radius: 3px 3px 3px 3px;
	 border-radius: 3px 3px 3px 3px;  
}
#search-container {
	margin-left: 80px;	
	margin-top: 120px;
}
#scheme-section-title {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	h3 {
		text-align: center;
		padding: 0;
		margin: 0;
	}
}

#submit, #create-scheme-btn
{		
	background: #006bbb;
	background-image: -moz-linear-gradient(#0088d7, #006bbb);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #006bbb),color-stop(1, #0088d7));
	
	-moz-border-radius: 3px 50px 50px 3px;
	border-radius: 3px 50px 50px 3px;
	
	border-width: 1px;
	border-style: solid;
	border-color: #007cba #00578e #00437d;
	
	 -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	 -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	 box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;   		

	height: 35px;
	margin: 0 0 0 10px;
        padding: 0;
	width: 90px;
	cursor: pointer;
	font: bold 14px Arial, Helvetica;
	color: #23441e;
	
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
#submit:hover, #create-scheme-btn:hover
{		
	background: #0088d7;
	background-image: -moz-linear-gradient(#006bbb, #0088d7);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #0088d7),color-stop(1, #006bbb));
}	
#submit:active, #create-scheme-btn:active
{		
	background: #0088d7;
	outline: none;
   
	 -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	 -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	 box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}

#submit::-moz-focus-inner, #create-scheme-btn::-moz-focus-innter
{
       border: 0;  /* Small centering fix for Firefox */
}		
#search::-webkit-input-placeholder, #search2::-webkit-input-placeholder {
   color: #9c9c9c;
   font-style: italic;
}
#search:-moz-placeholder, #search2:-moz-placeholder {
   color: #9c9c9c;
   font-style: italic;
}  
#search:-ms-placeholder , #search2:-ms-placeholder {
   color: #9c9c9c;
   font-style: italic;
} 
#create-scheme-btn {
	text-align: center;
	border-radius: 3px;
	font-size: 12px;
	line-height: 12px;
	height: 25px;
	padding: 5px;
	color: #fff;
	width: 120px;
	text-shadow: 1px 1px  5px #000000;
}
#create-scheme-btn:hover {
	text-align: center;
	border-radius: 3px;
	font-size: 12px;
	line-height: 12px;
	height: 25px;
	padding: 5px;
	color: #fff;
	width: 120px;
	text-shadow: 1px 1px  1px #000000;
}
.event-panel {
	float: left;
	height: 50px;
	width: 100px;
	padding: 5px;
	margin: 5px;
}
.modal {
	display: none;
	.versus-image {
		margin: 0 auto;
		width: 20%;
		text-align: center;
		float: left;
		display: inline-block;
	}
}

.scheme-icon {
	background-size: 200px 147px;
	width: 200px;
	height: 147px;
	padding: 3px;
	border: 1px solid #555;
	background-position: 3px 3px;
	background-repeat: no-repeat;
	margin: 5px;
	float: left;
}

#main-container-container {
    background: #f5f6f8;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.inner-box-shadow {
	opacity: 0;
	cursor: pointer;
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,.40) 0%, rgba(22,0,0,.9) 90%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,.40)), color-stop(90%,rgba(22,0,0,.9)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,.40) 0%,rgba(22,0,0,.8) 90%);
	background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,.40) 0%,rgba(22,0,0,.9) 90%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,.40) 0%,rgba(22,0,0,.9) 90%);
	background: radial-gradient(ellipse at center, rgba(0,0,0,.40) 0%,rgba(22,0,0,.9) 90%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#160000',GradientType=1 );
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 100%;
	width: 100%;
	white-space: nowrap;
	text-align: center;
	text-shadow: 0 5px 5px rgba(0,0,0,.9);
	.scheme-title {
		color: #fff;
		margin-top: 30%;
	}
}
.inner-box-shadow:hover {
	opacity: 1;
}

html {
	min-width: 1200px;
}
#team1, #team2 {
	text-align: center;
	margin: 0 auto;
	float: left;
	display: inline-block;
	width: 35%;
	line-height: 66px; 
	vertical-align:middle;
}	
#schemes {
	padding: 0px 0px 0px 0px;
	margin-right: -15px;
	height: 400px;
	background-color: #f5f5f5;
	overflow: scroll;
	width: 522px;
	color: #fff;
	#scheme-section-title {
		text-shadow: 0px 2px 5px #000;
	}
}

.event-show-spacer {
		background-color: #f5f5f5;
		height: 10px;
		width: 100%;
}
#map2 {
	background-image:url('/assets/map.png'); 
	background-repeat: no-repeat;
	background-color: #f5f5f5;
	background-size: 400px 400px; 
	width: 400px; 
	height: 400px; 
	padding-left: 10px;	
	margin-left: 20px;
	padding-right: 20px;
}
#events-container {
	display:none;
	width: 100%;
	text-align: center;
}
.event, .scheme {
	width: 482px;
	margin: 0;
	padding: 3px;
	cursor: pointer;
	border-radius: 5px;
	&:hover {
		background-color: #005076;
		color: #fff;
	}
}
#map2 .ping {
	padding: 10px;
	width: 12px;
	height: 12px;
	border-radius: 40px;
	background-color: rgba(10,10,200,.4);
}
.scheme img {
	padding: 3px;
	border: 1px solid #000;
	width: 66px;
	height: 66px;
	background-color: #fff;
	margin-right: 10px;
}

.scheme {
	margin: 0;
	height: 74px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: -webkit-match-parent;
	line-height: 18px;
	margin-bottom: 5px;
	border-radius: 0px;
	h3 {
		margin: 0px;
		padding: 0px;
		line-height: 20px;
		font-size: 20px;
	}
	.text {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 270px;
		p {
			padding-left: 2px;
		}
	}
}
#title-2 {
	margin-top: -10px;
	margin-bottom: -10px;
	font-size: 13px;
	line-height: 18px;
	color: #fff;
	text-align: center;
	background-color: rgba(16, 67, 104, .8)	;
	text-shadow: 2px 2px  5px #000000;
}
#event-show-info {
	height: 30px;
	color: #fff;
	background-color: rgba(35, 125, 186, .8);
	margin-top: -1px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
}
.text-number-special {
	background-color: rgb(19, 67, 99);
	border: 1px solid rgba(0,0,0,.5);
	color: #fff;
	padding: 2px 4px;
	margin: 0 5px;
	border-radius: 5px;
}
#title {
	background-color: rgba(0,20,40,.5);
	display: inline-block;
	width: 270px;
	padding: 0px 10px;
	border: 1px solid rgba(0,0,0,.1);
	margin-bottom: 10px;
	margin-top: -10px;
	margin-left: -10px
}
#super-show-wrapper {
	background-color: #324523;
}
#show-wrapper {
	overflow: hidden;
	margin: 0px auto;
	border: 1px solid #c8c8c8;
	border-color: rgba(0,0,0,0.2);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0 0 3px #e1e1e3;
	-moz-box-shadow: 0 0 3px #e1e1e3;
	box-shadow: 0 0 3px #e1e1e3;
	}