// Place all the styles related to the Schemes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#scheme-main-row {
	height: 200px;
	margin: 0 auto;
	display: inline-block;
}

#scheme-main-row-container {
	text-align: center;
	border-bottom: 1px solid #e8e8e8;
	line-height: 29px;
	font-size: 20px;
}


.bordered-wrapper {
	padding: 3px;
	border: 1px solid #444;
	background-color: #e8e8e8;
}

#scheme-users, #scheme-contests {
	width: 400px;
	height: 200px;
	background-color: #fff;
	margin: 5px;
	overflow: auto;
	font-size: 15px;
	line-height: 15px;
}

#message-text-box {
  width: 600px; 
  min-width:600px; 
  max-height:600px; 
  height:70px; 
  min-height:70px;  
  max-height:70px;
  resize:none; 
  font-size: 12px;
}

#video-chat:hover {
	width: 72px;
}

.event-show-message {
	font-size: 15px;
	width: 600px;
	border: 1px solid #e8e8e8;
	padding: 10px;
	border-radius: 3px;
	box-shadow: -3px 3px 5px rgba(20,20,20,.1);
	.e-message, .e-timestamp {
		text-align: left;
	}
	.e-center {
		font-size: 12px;
		color: #485868;
	}
}

.center {
  display: block;
	margin: 0 auto;
	text-align: center;
}
#fb-btn, #message-submit {
	display: inline-block;
}

#fb-btn {
	width: 70px;
	height: 13px;
	font-size: 12px;
}

#message-submit, #fb-btn {
	margin-top: 5px;
}

#message-submit:hover {
	width: 52px;
}